# Introduction to the Dataset

The following csv is pulled from the FiveThirtyEight <a href="https://raw.githubusercontent.com/fivethirtyeight/data/master/births/US_births_1994-2003_CDC_NCHS.csv" target="_blank">dataset</a> of US births between 1994 and 2003. Essentially each row includes the number of births for a particular day. It includes the columns:

<ul>
<li>Year</li>
<li>Month</li>
<li>Date of Month</li>
<li>Day of Week</li>
<li>Births</li>
</ul>

## Read in the data

In [171]:
data = open("US_births_1994-2003_CDC_NCHS.csv").read()
split_rows = data.split("\n")

## Display the header and first ten rows

In [172]:
header = split_rows[0]
header

'year,month,date_of_month,day_of_week,births'

In [173]:
split_rows[1:11]

['1994,1,1,6,8096',
 '1994,1,2,7,7772',
 '1994,1,3,1,10142',
 '1994,1,4,2,11248',
 '1994,1,5,3,11053',
 '1994,1,6,4,11406',
 '1994,1,7,5,11251',
 '1994,1,8,6,8653',
 '1994,1,9,7,7910',
 '1994,1,10,1,10498']

# Converting Data into a List of Lists

In [174]:
def read_csv(file_name):
    data = open(file_name, "r").read()
    split_rows = data.split("\n")
    string_list = split_rows[1:-1]
    final_list = []
    for item in string_list:
        int_fields = []
        string_fields = item.split(",")
        for sf in string_fields:
            value = int(sf)
            int_fields.append(value)
        final_list.append(int_fields)
    return(final_list)

In [175]:
cdc_list = read_csv("US_births_1994-2003_CDC_NCHS.csv")
cdc_list[0:10]

[[1994, 1, 1, 6, 8096],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 3, 1, 10142],
 [1994, 1, 4, 2, 11248],
 [1994, 1, 5, 3, 11053],
 [1994, 1, 6, 4, 11406],
 [1994, 1, 7, 5, 11251],
 [1994, 1, 8, 6, 8653],
 [1994, 1, 9, 7, 7910],
 [1994, 1, 10, 1, 10498]]

# Calculating Number of Births Each Month

In [176]:
def month_births(births_lists):
    births_per_month = {}
    for item in births_lists:
        month = item[1]
        num_births = item[4]
        if month in births_per_month:
            births_per_month[month] += num_births
        else:
            births_per_month[month] = num_births
    return(births_per_month)

In [177]:
cdc_month_births = month_births(cdc_list)
cdc_month_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3289486}

# Calculating Number of Births Each Day of Week

In [178]:
def dow_births(births_lists):
    births_per_dow = {}
    for item in births_lists:
        dow = item[3]
        num_births = item[4]
        if dow in births_per_dow:
            births_per_dow[dow] += num_births
        else:
            births_per_dow[dow] = num_births
    return(births_per_dow)

In [179]:
cdc_day_births = dow_births(cdc_list)
cdc_day_births

{1: 5789166,
 2: 6446196,
 3: 6310481,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

# Creating a More General Function

In [180]:
def calc_counts(data, column):
    births_per_timeframe = {}
    for item in data:
        timeframe = item[column]
        num_births = item[4]
        if timeframe in births_per_timeframe:
            births_per_timeframe[timeframe] += num_births
        else:
            births_per_timeframe[timeframe] = num_births
    return(births_per_timeframe)

In [181]:
cdc_year_births = calc_counts(cdc_list, 0)
cdc_month_births = calc_counts(cdc_list, 1)
cdc_dom_births = calc_counts(cdc_list, 2)
cdc_dow_births = calc_counts(cdc_list, 3)

In [182]:
cdc_year_births

{1994: 3952767,
 1995: 3899589,
 1996: 3891494,
 1997: 3880894,
 1998: 3941553,
 1999: 3959417,
 2000: 4058814,
 2001: 4025933,
 2002: 4021726,
 2003: 4077576}

In [183]:
cdc_month_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3289486}

In [184]:
cdc_dom_births

{1: 1276557,
 2: 1288739,
 3: 1304499,
 4: 1288154,
 5: 1299953,
 6: 1304474,
 7: 1310459,
 8: 1312297,
 9: 1303292,
 10: 1320764,
 11: 1314361,
 12: 1318437,
 13: 1277684,
 14: 1320153,
 15: 1319171,
 16: 1315192,
 17: 1324953,
 18: 1326855,
 19: 1318727,
 20: 1324821,
 21: 1322897,
 22: 1317381,
 23: 1293290,
 24: 1288083,
 25: 1272116,
 26: 1284796,
 27: 1294395,
 28: 1307685,
 29: 1223161,
 30: 1202095,
 31: 734322}

In [185]:
cdc_dow_births

{1: 5789166,
 2: 6446196,
 3: 6310481,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

# Calculate the Min and Max Values of any Dictionary

In [186]:
def min_max(dictionary):
    min_key,max_key = (None,None)
    for k,v in dictionary.items():
        if min_key is None:
            min_key,max_key = (k,k)
        else:
            if v < dictionary[min_key]:
                min_key = k
            if v > dictionary[max_key]:
                max_key = k
    print(" Min value: " + str(dictionary[min_key]) + " Max value: " + str(dictionary[max_key]))
    return

In [187]:
min_max(cdc_dom_births)

 Min value: 734322 Max value: 1326855

# Calculate Differences between Consecutive Values by Years
Write a function that extracts the same values across years and calculates the differences between consecutive values to show if number of births is increasing or decreasing.
<ul>
<li>For example, how did the number of births on Saturday change each year between 1994 and 2003?</li>
</ul>

In [188]:
def calc_counts_years(data, column, specific):
    births_per_timeframe = {}
    results = []
    for row in data:
        year = row[0]
        num_births = row[4]
        if year in births_per_timeframe and row[column] == specific:
            births_per_timeframe[year] += num_births
        elif year not in births_per_timeframe and row[column] == specific:
            births_per_timeframe[year] = num_births
    for k, v in births_per_timeframe.items():
        temp = [k, v]
        results.append(temp)
    header = ["year","month","day of month","day of week"]
    print("Difference between years for " + header[column] + "(" + str(specific) + "):")
    for i in range(0, len(results)):
        if(i+1 < len(results)):
            difference = results[i+1][1] - results[i][1]
            print(str(results[i][0]) + "-" + str(results[i+1][0]) + ": " + str(difference))
    return

In [189]:
august_difference = calc_counts_years(cdc_list, 1, 8)
august_difference

Difference between years for month(8):
1994-1995: -1436
1995-1996: -4420
1996-1997: -7195
1997-1998: 5614
1998-1999: 6635
1999-2000: 8709
2000-2001: 1722
2001-2002: -2385
2002-2003: 686

In [190]:
day_25_difference = calc_counts_years(cdc_list, 2, 25)
day_25_difference

Difference between years for day of month(25):
1994-1995: -4649
1995-1996: 1506
1996-1997: 1818
1997-1998: -7073
1998-1999: 1930
1999-2000: 9146
2000-2001: -5867
2001-2002: 8184
2002-2003: 300

In [191]:
dow_saturday_difference = calc_counts_years(cdc_list, 3, 7)

Difference between years for day of week(7):
1994-1995: -2962
1995-1996: -12454
1996-1997: -8858
1997-1998: 2651
1998-1999: -5138
1999-2000: 14463
2000-2001: -19335
2001-2002: -5744
2002-2003: 1924